<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="MyApplication"
             Manufacturer="MyCompany"
             Version="1.0.0.0"
             UpgradeCode="12345678-1234-1234-1234-123456789012"
             Language="1033"
             Compressed="yes"
             InstallerVersion="500">

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="MyApplication">
                    <Component Id="ApplicationFiles" Guid="87654321-4321-4321-4321-210987654321">
                        <File Id="PowerShellScript" Source="windows-install.ps1" Name="windows-install.ps1" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="ApplicationFiles" />
            <ComponentRef Id="PowerShellScriptExecution" />
        </Feature>

        <Component Id="PowerShellScriptExecution" Directory="APPLICATIONROOTDIRECTORY" Guid="NEWGUID-EACH-INSTALL">
            <util:EventSource Name="PowerShellScriptExecution" Log="Application" EventMessageFile="[APPLICATIONROOTDIRECTORY]ConfigureSystem.ps1" />
            <util:EventSource Name="PowerShellScriptExecutionFailure" Log="Application" EventMessageFile="[APPLICATIONROOTDIRECTORY]ConfigureSystem.ps1" />

            <CustomAction Id="RunPowerShellScript"
                          Property="POWERSHELLEXECUTABLE"
                          ExeCommand="[POWERSHELLEXECUTABLE] -ExecutionPolicy Bypass -File &quot;[APPLICATIONROOTDIRECTORY]ConfigureSystem.ps1&quot;"
                          Execute="deferred"
                          Impersonate="no"
                          Return="check" />

            <CustomAction Id="RunPowerShellScriptSchedule"
                          After="InstallFinalize"
                          OnExit="success"
                          Execute="firstSequence"
                          Sequence="InstallExecute" />
        </Component>

        <InstallExecuteSequence>
            <Custom Action="RunPowerShellScript" After="InstallFiles">NOT Installed</Custom>
        </InstallExecuteSequence>

        <Property Id="POWERSHELLEXECUTABLE" Value="powershell.exe" />
    </Package>
</Wix>
